extends layout

block content
  div.container
   div.module-list
    h1= title
    h2 module list
      each pkg in pkgs
        p
          a(href= 'https://' + pkg.url) #{pkg.name}
          a(href= pkg.homepage) #{pkg.name}
          a(href= pkg.github) #{pkg.name}
   div.module-detail no module be picked

  script(type="text/javascript", src="/javascript/index.js")

