extends layout

block content
  div.container
   div.module-list
    h1= title
    h2 module list
      each pkg in pkgs
        p
          a(href= 'https://' + pkg.url) #{pkg.name}
          a(href= pkg.homepage) #{pkg.name}
          a(href= pkg.github) #{pkg.name}
   div.module-detail no module bu picked

  script.
    let moduleList;
    let moduleName;
    let moduleDetail;

    moduleName = document.getElementsByTagName('a');
    moduleList = document.getElementsByClassName('module-list')[0];
    moduleDetail = document.getElementsByClassName('module-detail')[0];
    moduleList.addEventListener('click', function(event){
        event.preventDefault();
        moduleDetail.innerHTML = event.target.innerHTML;
    });
