extends layout

block content
  h1= title

  each pkg in pkgs
    p Welcome to =>
      a(href= 'https://'+pkg.url) #{pkg.name}
      a(href= pkg.homepage) #{pkg.name}
      a(href= pkg.github) #{pkg.name}
