body {
  padding: 20px;
  font: 15px "Lucida Grande", Helvetica, Arial, sans-serif;
}

h1 {
  text-align: center;
  padding-bottom: 20px;
}

a {
  color: #00B7FF;
}

.left {
  float: left;
  width: 40%;
  height: 100%;
}

.right {
  float: right;
  width: 30%;
  height: 100%;
}

.middle {
  overflow: hidden;
  height: 100%;
}
